@page "/auth"

@using Microsoft.AspNetCore.Authorization

<!--Precisa estar autorizado para acessar esta rota -->
@attribute [Authorize] 
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<!--AuthrizeView ele fornece o context, so esta sendo usando por isso, o atributo acima ja define que eh um componente que precisa de autorizacao-->
<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
